<p style="color: green"><%= notice %></p>

<h1>Data</h1>
<p>Total amount is = $<%= @data.where(author_id: current_user.id).sum(&:amount) %></p>

<div id="data">
  <% @data.each do |datum| %>
    <% if can? :read, datum %>
    <%= render datum %>
    <%end%>
  <% end %>
</div>

<%= link_to "New datum", new_category_datum_path %>
<%= link_to "Back", categories_path %>
